@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --body-color: #000;
    --black-light: #121212;
    --gray-dark: #313030;
    --green: #1ed760;
    --white: #fff;

    --spacing-1: 0.5rem;
    --spacing-2: 1rem;
    --spacing-3: 1.5rem;

    --transition: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray-dark);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #222;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--body-color);
    color: var(--white);
}

ul {
    list-style: none;
}

a {
    color: inherit;
}

.bg-light {
    background-color: var(--black-light);
}

.d-flex {
    display: flex;
}

.item-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.radius {
    border-radius: 5px;
}

.invert {
    filter: invert(1);
}

.main-container {
    height: 100%;
    width: 100%;
    padding: calc(var(--spacing-1) + 2px);
    gap: 5px;
}

.left, .right {
    height: 100%;
}

.left {
    width: 25%;
}

.right {
    width: 75%;
}

.home {
    height: 115px;
    margin-bottom: calc(var(--spacing-1) + 2px);
    padding: calc(var(--spacing-1) + 2px);
}

.logo {
    margin-bottom: var(--spacing-1);
}

.logo img {
    width: 80px;
}

.nav li {
    padding-top: var(--spacing-1);
    font-weight: 600;
    cursor: pointer;
}

.library {
    height: calc(100% - 125px);
    padding: calc(var(--spacing-1) + 2px);
}

.heading {
    height: 40px;
    gap: 8px;
}

.heading h2 {
    font-size: 22px;
}

.playlist {
    height: calc(100% - 80px);
    overflow-y: auto;
    padding: var(--spacing-1);
}

.song-list .list-item {
    width: 100%;
    border: 1px solid var(--white);
    padding: var(--spacing-1);
    margin-bottom: var(--spacing-1);
    cursor: pointer;
}

.song-list .song-img {
    width: 30px;
}

.song-list .song-info {
    width: calc(100% - 120px);
    padding: 0 var(--spacing-1);
    font-size: 15px;
}

.song-info .song-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.song-list .play-now {
    width: 90px;
    font-size: 14px;
    gap: 4px;
}


.footer {
    height: 40px;
    flex-wrap: wrap;
    column-gap: var(--spacing-2);
}

.footer a {
    color: var(--gray-dark);
    font-size: 10px;
}